@charset "UTF-8";

@import 'main';
@import 'common/button';

@mixin phone {
  @media (max-width: 768px){
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) and (max-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1024px) {
    @content;
  }
}

#app {
 display: flex;
 width:95%;
 height:95%;
 min-height: 650px;
 overflow: hidden;
 border: solid 2px white;
 color: white;
 font-size: 1.2em;
 text-align: center;
  @include phone {
        width: 100%;
        height: 100%;
        font-size: 1em;
        min-height: 380px;
  }
  @include tablet {
        width: 95%;
        height: 95%;
        font-size: 1.2em;
  }
}


.h1 {
 font-size: 3em;
  @include phone {
        font-size: 2em;
  }
  @include tablet {
        font-size: 2.6em;
  }
}

.h2 {
 font-size: 1.8em;
  @include phone {
        font-size: 1.8em;
  }
  @include tablet {
        font-size: 1.8em;
  }
}

.audioElement {
  width: 100px;
  height: 100px;
  float: left;
  margin: 5px;
  text-align:center;
  box-sizing: border-box;
  border-radius: 50%;
  display: float;
  background-color: #4D4F7D;
  @include phone {
        width: 50px;
        height: 50px;
  }
}

.ae-enter {
  opacity: 0.01;
  width: 0px;
  height: 0px;
  margin: 50px;
  margin-left: 150px;
  @include phone {
        height: 25px;
        margin: 25px;
        margin-left: 75px;
  }
}

.ae-enter.ae-enter-active {
  opacity: 1;
  width: 100px;
  height: 100px;
  margin: 5px;
  margin-left: 5px;
  transition: 700ms;
  @include phone {
        width: 50px;
        height: 50px;
  }
}

.ae-leave {
  opacity: 1;
  width: 100px;
  height: 100px;
  margin: 5px;
  margin-left: 5px;
  @include phone {
        width: 50px;
        height: 50px;
  }
}

.ae-leave.ae-leave-active {
  opacity: 0.01;
  width: 0px;
  height: 0px;
  margin: 50px;
  margin-left: -50px;
  transition: 700ms;
  @include phone {
        margin: 25px;
        margin-left: -25px;
  }
}

.fill {
    width:100%;
    height: 100%;
    min-height: inherit;
    display:inline-block;
}

.third {
  width:100%;
  height: 33.33%;
  display: block;
  overflow: hidden;
  justify-content: centered;
  align-items: center;
  @include phone {
      font-size: 8px;
  }
}

.quarter {
  width:100%;
  height: 12%;
  display: block;
  overflow: hidden;
  text-align: center;
  justify-content: centered;
  align-items: center;
  @include phone {
      font-size: 8px;
  }
}
.quarter-rest {
  width:100%;
  height: 88%;
  display: block;
  overflow: hidden;
  text-align: center;
  justify-content: centered;
  align-items: center;
  @include phone {
      font-size: 8px;
  }
}

.two-third {
  width:100%;
  height: 66.67%;
  display: block;
  overflow: hidden;
  justify-content: centered;
  align-items: center;
  color: #4D4F7D;
  font-size: 15px;
  @include phone {
      font-size: 8px;
  }
}

.half {
  height: 50%;
  display: block;
  overflow: hidden;
  justify-content: centered;
  align-items: center;
}

.three-quarters {
    display:block;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 15px;
    width:60%;
    height: 60%;
    color: #4D4F7D;
    font-size: 15px;
    @include phone {
        font-size: 8px;
    }
}

.vert-third {
    font-size: 100px;
    width: 33%;
    height: 100%;
    float: left;
    color: white;
    @include phone {
        font-size: 50px;
    }
}

.vert-rest {
    width: 66%;
    height: 100%;
    float:left;
    display:flex;
    align-items: center;
    justify-content: center;
}

.ae-container {
    height: 110px;
    width: 100%;
    overflow: hidden;
    @include phone{
      height: 55px;
    }
}

.flashgreen {
    -webkit-animation: flashgreen 0.2s linear 1 forwards;
    -moz-animation: flashgreen 0.2s linear 1 forwards;
    animation: flashgreen 0.2s linear 1 forwards;
}

@-webkit-keyframes flashgreen {
  50% { background-color: green; }
  100% { background-color: #000445; }
}

@-moz-keyframes flashgreen {
  50% { background-color: green; }
  100% { background-color: #000445; }
}

@keyframes flashgreen {
  50% { background-color: green; }
  100% { background-color: #000445; }
}

.flashred {
    -webkit-animation: flashred 0.2s linear 1 forwards;
    -moz-animation: flashred 0.2s linear 1 forwards;
    animation: flashred 0.2s linear 1 forwards;
}

@-webkit-keyframes flashred {
  50% { background-color: red; }
  100% { background-color: #000445; }
}

@-moz-keyframes flashred {
  50% { background-color: red; }
  100% { background-color: #000445; }
}

@keyframes flashred {
  50% { background-color: red; }
  100% { background-color: #000445; }
}

.rangeslider__fill {
  background-color: #4D4F7D !important;
}

.hoverable:hover {
  background-color: #000445 !important;
  border: 2px solid white;

}

.playbutton{
  min-width: 150px;
  @include phone {
        min-width: 30px;
        font-size: 1em;
  }
  @include tablet {
        min-width: 100px;
  }
}



.selectable-section{
    width:100%;
    justify-content: centered;
    align-items: center;
}

.selectable-wrapper{
    width:100%;
    justify-content: centered;
    align-items: center;
}

.selectable-wrap{
    min-height:20px;
    font-size: .9em;    
    display:inline-block;
    margin-top: 3px;
    padding: 2px;

}

.selectable-description{
 display:table-cell;
 font-style:italic;
 text-align:right;
 min-width: 260px;
 padding-left: 5px;
 padding-right: 5px;
    @include phone {
        min-width:110px;
    }
}

.selectable-option{
 display:table-cell;
 border: solid 1px grey;
 border-radius: 5px;
 padding-left: 5px;
 padding-right: 5px;
 border-spacing: 5px;
    @include phone {
        border-radius:1px;
        padding-left: 2px;
        padding-right: 2px;
        border-spacing: 2px;
    }

}

.selectable-option:hover{
    background-color: #4D4FFF;

}

